@using ASP_DataTransfer_DbContext_Fiorella.Helpers
@model PagedList<AppUser>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = (Model.CurrentPage-1)*Model.PageSize;
    string disable = Model.CurrentPage == 1 ? "disabled" : "";

   
}


<div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Users
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>



 <div class="container-fluid">
    <div class="row">

        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <a  class="my-2 btn btn-outline-success" 
          asp-action="create">
               <i style="font-size:10px" class="mdi mdi-creation"></i> Create Products
          </a>

         

          <div class="table-responsive">
            <table
              id="zero_config2"
              class="table table-striped table-bordered"
            >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Fullname</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Count</th>
                  
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model)
               {
                    count++;
                   <tr>
                      <td>@count</td>
                      <td>
                          @item.Fullname
                      </td>
                      <td>@item.UserName</td>
                      <td>@item.Email</td>
                      
                      <td >
                      
                         <a  asp-action="detail" asp-route-id="@item.Id" class="btn btn-outline-info">
                              <i style="font-size:10px" class="mdi mdi-information-variant"></i>
                         </a>
                         <a  asp-action="update" asp-route-id="@item.Id" class="btn btn-outline-warning">
                              <i style="font-size:10px" class="mdi mdi-table-edit"></i>
                         </a>
                         <a 
                              asp-action="delete" asp-route-id="@item.Id" 
                             class="btn btn-outline-danger">
                              <i style="font-size:10px" class="mdi mdi-playlist-remove"></i>
                         </a>
                      
                      </td>
                  </tr>
                       
                    }
                
              </tbody>
              <tfoot>

                 

               @* <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Settings</th>
                </tr>*@
              </tfoot>
            </table>
            <div class="container my-5">
                 <div class="row justify-content-center">
                      <div class="col-md-4">
                      <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item @disable">
                            <a class="page-link" asp-route-page="@(Model.CurrentPage-1)"  tabindex="-1"
                              >Previous</a>
                          </li>

                          @for (int i = 1; i <= @Model.TotalPage; i++)
                                 {
                                            
                                         <li class="page-item @(Model.CurrentPage==i?"disabled":"")">
                                          <a class="page-link" asp-route-page="@i">@i</a>
                                        </li>           
                                 }

                          <li class="page-item @(Model.CurrentPage==Model.TotalPage?"disabled":"")">
                            <a class="page-link" asp-route-page="@(Model.CurrentPage+1)">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>


    </div>
   </div>



                      @section Scripts{
                          <script src="~/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
                          <script>
                          /****************************************
                           *       Basic Table                   *
                           ****************************************/
                          //$("#zero_config2").DataTable();
                        </script>
                      }